@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@Localizer["PersonalDataTitle"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["InfoAboutData"]</p>
        <p>
            <strong>@Localizer["WarningAboutData"]</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}