@model ZfssUZ.Models.Home.ContactModel

@using Microsoft.AspNetCore.Mvc.Localization
@using ZfssUZ.Enums
@using Microsoft.AspNetCore.Identity

@inject IViewLocalizer Localizer

@{
    object formLabel = "form-label";
    object formControl = "form-control";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<h2>@Context.Items["Title"]</h2>
<address>
    @Localizer["UniversityOfZielonaGora"]<br />
    ul. Licealna 9/9<br />
    65-417 Zielona Góra <br />
</address>
<address>
    <strong>@Localizer["EmailAddress"]:</strong> +48 123 456 789<br />
    <strong>@Localizer["PhoneNumber"]:</strong> <a href="mailto:prac.uz@gmail.com">zfss@uz.zgora.pl</a>
</address>
<img src="~/images/call-center-1015274_640.jpg" width="600" height="400" align="right" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(x => x.ContactForm, new { @class = formLabel })
            </div>
            <div class="form-group">
                @Html.RadioButtonFor(m => m.ContactForm, (int)eMessageType.EmailAddress, new { @class = formLabel }) @Localizer["EmailAddress"]
                @Html.RadioButtonFor(m => m.ContactForm, (int)eMessageType.PhoneNumber, new { @class = formLabel }) @Localizer["PhoneNumber"]
            </div>
            <div class="form-group" id="emailAddressForm">
                @Html.LabelFor(x => x.EmailAddress, new { @class = formLabel })
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = formControl })
            </div>
            <div class="form-group" id="phoneNumberForm" hidden>
                @Html.LabelFor(x => x.PhoneNumber, new { @class = formLabel })
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = formControl, @type = "number" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MessageContent, new { @class = formLabel })
                @Html.TextAreaFor(x => x.MessageContent, new { @class = formControl, @style = "max-width:540px" })
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Send"]" class="btn btn-default" onclick="sendMessage()" />
                <a asp-action="Index" asp-controller="Benefit" class="btn btn-default">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>

<script>
    $("input[type=radio][id=ContactForm]").change(function () {
        $("#EmailAddress").val("");
        $("#PhoneNumber").val("");
        if ($("#ContactForm:checked").val() == @((int)eMessageType.EmailAddress)) {
            $("#emailAddressForm").show();
            $("#phoneNumberForm").hide();
        } else {
            $("#emailAddressForm").hide();
            $("#phoneNumberForm").show();
        }
    });

    function getMail() {
        document.getElementById("contact").setAttribute("type", "text");
        document.getElementById("contact").value = '';
    };
    function getPhone() {
        document.getElementById("contact").setAttribute("type", "number");
        document.getElementById("contact").value = '';
    };
    function sendMessage() {
        if (document.getElementById("contact").innerHTML != "" && document.getElementById("message").innerHTML != "") {
            alert("Wiadomość została wysłana do obsługi klienta");
            location.reload();
        } else {
            alert("Proszę uzupełnić wartości w polach: E-mail/Telefon oraz Treść wiadomości!");
        }
    }
</script>