@using Microsoft.AspNetCore.Identity
@using ZfssUZData.Models.Users
@using Microsoft.AspNetCore.Mvc.Localization
@using ZfssUZ.Enums

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Benefit", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (UserManager.GetUserAsync(User).Result.UserGroupId == (int)eUserGroup.Administration)
            {
                <li class="dropdown">
                    <a href="#" id="administrativePanel" class="dropdown-toggle" data-toggle="collapse" role="button">
                        @Localizer["Administrative panel"]
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a asp-area="" id="userList" asp-controller="User" asp-action="Index">@Localizer["User list"]</a>
                        </li>

                        <li role="presentation">
                            <a asp-area="" id="addUser" asp-controller="User" asp-action="Register">@Localizer["Add user"]</a>
                        </li>
                    </ul>
                </li>
            }
            <li class="dropdown">
                <a href="#" id="loggedUser" class="dropdown-toggle" data-toggle="collapse" role="button">
                    <b>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName </b>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a asp-area="Identity" id="showProfile" asp-page="/Account/Manage/Index" title="Manage">@Localizer["ShowProfile"]</a>
                    </li>

                    <li role="presentation">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link"><b>Wyloguj</b></button>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
