@model ZfssUZ.Models.Benefit.HomeLoanBenefit.AddHomeLoanBenefitModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using ZfssUZData.Models.Users

@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager

@{
    object style = new { style = "form-control" };
    ViewData["Title"] = @Localizer["Title"];
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<h4>AddHomeLoanBenefitModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddHomeLoanBenefit">
            <input type="button" class="btn btn-default" id="GetUserData" value="@Localizer["GetUserData"]" onclick="getUserData()" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(x => x.BeneficiaryName, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.BeneficiaryName, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BeneficiaryName, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BeneficiaryAddress, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.BeneficiaryAddress, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BeneficiaryAddress, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BeneficiaryPhoneNumber, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.BeneficiaryPhoneNumber, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BeneficiaryPhoneNumber, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LoanCost, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.LoanCost, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LoanCost, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LoanPurpose, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.LoanPurpose, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LoanPurpose, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Months, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.Months, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Months, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Instalment, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.Instalment, string.Empty, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Instalment, string.Empty, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BenefitType)
                @Html.DropDownListFor(x => x.BenefitType.Id, Model.BenefitTypeList, new { @class = "form-control", @disabled = "disabled" })
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" onclick="createBenefit()"/>
                <a asp-action="Index" asp-controller="Home" class="btn btn-default">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $("#LoanCost").on("change paste keyup", function () {
        copyText();
    });

    $("#Months").on("change paste keyup", function () {
        copyText();
    });

    function getUserData() {
        $("#BeneficiaryName").val("@UserManager.GetUserAsync(User).Result.FirstName " +  "@UserManager.GetUserAsync(User).Result.LastName");
        $("#BeneficiaryAddress").val("@UserManager.GetUserAsync(User).Result.Address, " + "@UserManager.GetUserAsync(User).Result.PostCode " + "@UserManager.GetUserAsync(User).Result.City");
        $("#BeneficiaryPhoneNumber").val(@UserManager.GetUserAsync(User).Result.PhoneNumber);
    }

    function copyText() {
        var loanCost = document.getElementById("LoanCost");
        var months = document.getElementById("Months");

        if (months.value > 0 && loanCost.value > 0) {
            document.getElementById("Instalment").value = (loanCost.value / months.value).toFixed(2);
        }
    }

    $(document).ready(function () {
        if ("@TempData["BenefitAddError"]" != null && "@TempData["BenefitAddError"]" != "" && "@TempData["BenefitAddError"]" != "Error") {
            alert("Wyst¹pi³ b³¹d podczas tworzenia wniosku." + "@TempData["BenefitAddError"]");
        }
    });
</script>


