@model ZfssUZ.Models.Users.UserModel

@using Microsoft.AspNetCore.Identity
@using ZfssUZData.Models.Users
@using Microsoft.AspNetCore.Mvc.Localization

@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

@{
    Context.Items["Title"] = Localizer["Title"];
    object displayMode = new { disabled = "disabled", style = "form-control" };
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h2>@Localizer["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserGroup" class="control-label"></label>
                @Html.DropDownListFor(x => x.UserGroup.Id, Model.UserGroupList, new { @class = "form-control" })
            </div>

            @if (Model.Id != UserManager.GetUserAsync(User).Result.Id)
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsLocked" /> @Html.DisplayNameFor(model => model.IsLocked)
                        </label>
                    </div>
                </div>
            }

            <div class="form-group">
                <input type="submit" id="Save" value="@Localizer["Save"]" class="btn btn-default" />
                <a asp-action="Index" id="Back" class="btn btn-default">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#changeLanguage").attr("disabled", true).attr("rel", "tooltip");
    });
</script>

