<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h3>Lista użytkowników</h3>
    <div class="container">
        <div>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-bordered table-sm table-responsive " id="submissionIndexTable">
                <thead>
                    <tr>
                        <th clss="th-sm">Nazwa użytkownika</th>
                        <th clss="th-sm">Imię</th>
                        <th clss="th-sm">Nazwisko</th>
                        <th clss="th-sm">Email</th>
                        <th clss="th-sm">Numer telefonu</th>
                        <th clss="th-sm">Adres</th>
                        <th clss="th-sm">Kod pocztowy</th>
                        <th clss="th-sm">Miasto</th>
                        <th clss="th-sm">Grupa użytkowników</th>
                        <th clss="th-sm"></th>
                        <th clss="th-sm"></th>
                        <th clss="th-sm"></th>
                        <th clss="th-sm"></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @{int i = 0;}
                    @foreach (var userList in Model.UserList)
                    {
                    <tr id="userList@(i)">
                        <td>@userList.Username</td>
                        <td>@userList.Firstname</td>
                        <td>@userList.LastName</td>
                        <td>@userList.EmailAddress</td>
                        <td>@userList.PhoneNumber</td>
                        <td>@userList.Address</td>
                        <td>@userList.PostCode</td>
                        <td>@userList.City</td>
                        <td>@userList.UserGroup</td>
                        <td><input type="submit" class="btn btn-default" id="sendSubmission" value="wyświetl" /></td>
                        <td><input type="submit" class="btn btn-default" id="sendSubmission" value="Edytuj" /></td>
                        <td><input type="submit" class="btn btn-default" id="sendSubmission" value="Usuń" /></td>
                        @if (userList.IsLocked)
                        {
                            <td>
                                @using (Html.BeginForm("UnlockUser", "User", new { userId = userList.Id }, FormMethod.Post))
                                {
                                    <input type="submit" name="unlockUser" class="btn btn-default" id="unlockUser" value="Odblokuj" />
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                @using (Html.BeginForm("LockUser", "User", new { userId = userList.Id }, FormMethod.Post))
                                {
                                    <input type="submit" class="btn btn-default" id="lockUser" value="Zablokuj" />
                                }
                            </td>
                        }
                    </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            var unlockButton = document.getElementsByName("unlockUser");
            if (unlockButton !== undefined) {
                for (var i = 0; i < unlockButton.length; i++)
                    selectLockedUser(unlockButton[i].parentElement.parentElement.parentElement.id);
            }
        });

        function selectLockedUser(rowIndex) {
            $("#" + rowIndex).css("background-color", "red");
        }

    </script>
</body>
</html>
