@model ZfssUZ.Models.Users.RegisterModel

@using Microsoft.AspNetCore.Identity
@using ZfssUZData.Models.Users
@using Microsoft.AspNetCore.Mvc.Localization
@using ZfssUZ.Enums

@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

@{
    Context.Items["Title"] = @Localizer["Title"];
}

<h3>@Localizer["Title"]</h3>
<hr />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    if (@((int)UserManager.GetUserAsync(User).Result.UserGroupId) != @((int)eUserGroup.Administration)){
        alert("@Localizer["NotAuthorized"]");
        window.location = "@Url.Action("Index", "Home")";
    }
</script>
<div class="row">
    <div class="col-md-5">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserGroup" class="control-label"></label>
                @Html.DropDownListFor(x => x.UserGroup.Id, Model.UserGroupList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" onclick="validateOnRegister()" />
                <a asp-action="Index" class="btn btn-default">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>
